/* hides the scrollbar */
*::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* makes scrollbar invisible */
}

body {
    font-family: Helvetica;
    background-color: #F2F2F2;
}

main {
    height: 68.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .line {
    width: 55px;
    height: 7.2px;
    margin-top: 15px;
    background: #F2C53D;
}

h1,
h2,
h3,
h4 {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 64px;
}

p {
    font-size: 18px;
    line-height: 32px;
}

button:focus {
    outline: none;
}

button:hover,
a:hover {
    text-decoration: none;
}

/* footer CSS */
footer {
    color: white;
    height: 24.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #374031;
}


footer .social-container {
    margin: 0 0 20px 0;
    /* background-color: aqua; */
}

footer #line {
    width: 75vw;
    height: 0.98px;
    background: #F2C53D;
}

footer>p {
    font-size: 13px;
    margin-top: 20px;
}

/* navbar CSS */
.navbar-nav .nav-item .nav-link {
    color: black;
    font-size: 15px;
    line-height: 20px;
}

.social-container {
    margin: 5px 120px 0 0;
    /* background-color: sandybrown; */
}

.social-container>a:nth-child(1),
.social-container>a:nth-child(2) {
    margin-right: 14px;
}