* {
    margin: 0;
    padding: 0;
  }
  
/* hides the scrollbar */
*::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    font-family: Helvetica;
    background-color: #4a5742;
}

h1,
h2,
h3,
h4 {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

h4 {
    width: 45vw;
    color: #4a5742;
    font-size: 18px;
    text-align: center;
    margin: 15px 0;
}

p {
    font-size: 16px;
    line-height: 32px;
}

span {
    color: #F2C53D;
}

button:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* navbar CSS */
.navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 15px;
    line-height: 20px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #F2C53D;
}

.navbar-nav .nav-item .nav-link:focus {
    color: white;
}

.social-container {
    margin: 5px 100px 0 0;
}

.social-container>a:nth-child(1),
.social-container>a:nth-child(2) {
    margin-right: 8px;
}

/* intro CSS */
#intro {
    color: white;
    margin-top: 80px;
    flex-direction: column;
}

#intro>div>h1 {
    width: 60vw;
}

.line {
    width: 55px;
    height: 7.2px;
    margin: 30px 0 40px;
    background: #F2C53D;
}

#intro>div>p {
    width: 60vw;
    margin-bottom: 50px;
}

#intro #link-container {
    padding: 15px 0 15px;
}

#intro #link-container>a:nth-child(1) {
    border: none;
    border-radius: 20px;
    line-height: 36px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 20px;
    margin-right: 20px;
    background-color: #cecece54;
    transition: color 2s;
}

#intro #link-container>a:nth-child(1):hover {
    background-color: #f2c53d79;
}

#intro #link-container>a:nth-child(2) {
    color: white;
    cursor: pointer;
    border-bottom: 2.3px solid #F2C53D;
    padding-bottom: 3px;
}

/* about CSS */
#about {
    flex-direction: column;
    background-color: white;
}

#about>h1,
#projects>h1,
#contact>h1 {
    font-size: 80px;
    text-transform: uppercase;
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: #F2C53D;
    -webkit-text-fill-color: transparent;
}

#about>h2 {
    color: #4a5742;
}

#about-container {
    display: flex;
    align-items: center;
}

#left {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#left>img {
    width: 350px;
    height: 330px;
}

#left>p{
    text-align: center;
    margin-top: 40px;
}

#left #technologies {
    width: 250px;
    padding: 20px;
    display: flex;
    color: white;
    justify-content: space-between;
    border: 1px solid #F2C53D;
    border-radius: 8px;
    background-color: #4a5742f3;
}

#left #technologies>ul,
#projects .project-tech-stack{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#left #technologies>ul li::before {
    content: "\2023";
    color: #F2C53D;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

#right {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

/* projects CSS */
#projects {
    flex-direction: column;
    background-color: #4a5742;
}

#projects>h2 {
    color: white;
}

#projects #web-header {
    margin-top: 30px;
}

#projects #projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    width: 35vw;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-card:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 187, 0, 0.2), 0 6px 20px 0 rgba(255, 187, 0, 0.19);
}

.project-card .project-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.project-card .project-header>a>img {
    width: 30px;
    height: 30px;
    transition: all 2s;
    margin: 5px;
}

.project-card .project-header>a>img:hover {
    transform: scale(0.8);
}

.project-card .project-info {
    color: white;
}

.project-card .project-info>h3 {
    color: #F2C53D;
    font-size: 25px;
}

.project-card .project-tech-stack{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}

.project-card .project-tech-stack>li {
    color: rgba(255, 255, 255, 0.61);
    padding: 10px;
}

#projects #mobile-header,
#projects #other-header {
    margin-top: 75px;
}

/* contact CSS */
#contact {
    flex-direction: column;
    background-color: white;
}

#contact form {
    width: 55vw;
    padding: 20px 20px 40px;
}

.form-group label {
    font-size: 16px;
}

.form-group input {
    height: 50px;
    border-radius: 13px;
    border: 1px solid #949494;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #4a5742;
}

.form-group textarea {
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid #949494;
    resize: none;
}

#g-recaptcha-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#contact #btn-container {
    text-align: center;
}

.btn {
    width: 110px;
    height: 55px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica;
    line-height: 36px;
    cursor: pointer;
    background-color: #4a5742;
    margin-top: 40px;
}

.btn:hover {
    background-color: #4a5742;
}

.btn:focus,
.btn:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* footer CSS */
footer {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

footer>p {
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    margin-left: 100px;
}

/* responsive CSS */
@media (max-width: 1280px) {
    h1 {
        font-size: 48px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        width: 85vw;
    }

    /* responsive about CSS */
    #about-container {
        flex-direction: column;
    }

    #about-container #left,
    #about-container #right {
        width: 100vw;
    }

    #about #right {
        padding: 0;
    }

    #about #right>p {
        width: 90vw;
    }

    /* responsive project CSS */
    .project-img-container>img {
        width: 200px;
        height: 200px;
    }

    .project-info-container {
        width: 200px;
    }

    /* responsive contact CSS */
    #contact form {
        width: 95vw;
    }
}

@media (max-width: 992px) {
    /* responsive intro CSS */
    #intro>div>h1,
    #intro>div>p {
        width: 95vw;
    }

    .project-card {
        width: 90vw;
    }

    /* responsive footer CSS */
    footer {
        flex-direction: column;
    }

    footer>p,
    footer .social-container {
        margin: 0 0 20px 0;
    }
}