/* hides the scrollbar */
*::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* makes scrollbar invisible */
}

body {
    font-family: Helvetica;
    background-color: #374031;
}

h1,
h2,
h3,
h4 {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

h4 {
    color: #374031;
    width: 45vw;
    font-size: 18px;
    text-align: center;
    margin: 15px 0 15px 0;
}

p {
    font-size: 16px;
    line-height: 32px;
}

span {
    color: #F2C53D;
}

button:focus {
    outline: none;
}

button:hover,
a:hover {
    text-decoration: none;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer CSS */
footer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #374031;
}

footer>a {
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 30px 0 30px 0;
}

footer>a:hover {
    color: white;
}

footer #line {
    width: 75vw;
    height: 0.98px;
    background: #F2C53D;
}

footer .social-container {
    margin: 0 0 20px 0;
    /* background-color: aqua; */
}

footer>p {
    font-size: 13px;
    margin-top: 20px;
}

/* navbar CSS */
.navbar-nav .nav-item .nav-link {

    font-size: 15px;
    line-height: 20px;
}

.social-container {
    margin: 5px 100px 0 0;
    /* background-color: sandybrown; */
}

.social-container>a:nth-child(1),
.social-container>a:nth-child(2) {
    margin-right: 8px;
}

/* intro CSS */
#intro {
    color: white;
    height: 93vh;
    flex-direction: column;
    /* background-color: aqua; */
}

#intro>div>h1 {
    width: 60vw;
    /* background-color: teal; */
}

.line {
    width: 55px;
    height: 7.2px;
    margin: 30px 0 40px 0;
    background: #F2C53D;
}

#intro>div>p {
    width: 60vw;
    margin-bottom: 50px;
    /* background-color: green; */
}

#intro #btn-container>a:nth-child(1) {
    border: none;
    border-radius: 20px;
    line-height: 36px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 25px;
    margin-right: 20px;
    background-color: #cecece54;
}

#intro #btn-container>a {
    color: white;
    cursor: pointer;
    border-bottom: 2.3px solid #F2C53D;
    padding-bottom: 3px;
}

#intro #btn-container>a:hover {
    color: white;
}

/* about CSS */
#about {
    flex-direction: column;
    background-color: #F2F2F2;
}

#top-container {
    margin: 40px 0 40px 0;
    /* background-color: teal; */
}

#top-container>img {
    width: 350px;
    height: 320px;
}

#bottom-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    /* background-color: forestgreen; */
}

#bottom-container>h1,
#projects>h1,
#contact>h1 {
    font-size: 80px;
    text-transform: uppercase;
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: #F2C53D;
    -webkit-text-fill-color: transparent;
}

#bottom-container>h2 {
    color: #374031;
}

#bottom-container>p {
    width: 65vw;
}

/* projects CSS */
#projects {
    flex-direction: column;
    padding: 60px 0 100px 0;
    background-color: #374031;
}

#projects>h2 {
    color: white;
}

#projects #web-header {
    margin-top: 30px;
}

#projects #mobile-header {
    margin-top: 75px;
}

.project-container {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-img-container {
    background-color: white;
}

.project-img-container>img {
    width: 220px;
    height: 220px;
}

.project-info-container {
    width: 230px;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: blue; */
}

.lang-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    /* background-color: aqua; */
}

.lang-container>li {
    color: white;
    font-size: 12px;
    padding: 8px;
    text-align: center;
    border: 1px solid #F2C53D;
    border-radius: 10px;
    margin: 2px;
}

.project-btn-container>a {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    background-color: #cecece54;
}

/* contact CSS */
#contact {
    flex-direction: column;
    padding: 60px 0 60px 0;
    background-color: #F2F2F2;
}

form {
    width: 55vw;
    padding: 40px 20px 40px 20px;
    /* background-color: #374031; */
}

.form-group label {
    font-size: 16px;
}

.form-group input {
    height: 50px;
    border-radius: 13px;
    border: 1px solid #949494;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #374031;
}

.form-group textarea {
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid #949494;
    resize: none;
}

#g-recaptcha-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#contact #btn-container {
    text-align: center;
}

.btn {
    width: 110px;
    height: 55px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica;
    line-height: 36px;
    cursor: pointer;
    background-color: #374031;
    margin-top: 40px;
}

.btn:hover {
    background-color: #374031;
}

.btn:focus,
.btn:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* responsive CSS */
@media (max-width: 1280px) {
    h1 {
        font-size: 48px;
    }

    h4 {
        width: 85vw;
    }

    #intro>div>h1,
    #intro>div>p {
        width: 95vw;
        /* background-color: #3df255; */
    }

    #about {
        flex-direction: column;
    }

    #about #bottom-container {
        width: 100vw;
    }

    #about #bottom-container>p {
        width: 90vw;
    }

    form {
        width: 95vw;
    }
}